/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --color-visited: #05676e;
  --color-active: #489c79;
  --sun-state1: #edc655;
  --sun-state2: #fcffad;
  --sun-state3: #f76414;
  --font-light: 300;
  --font-reg: 400;
  --font-s: 16px;
  --font-m: 18px;
  --font-l: 24px;
  --font-xl: 30px;
  --padding-s: 10px;
  --padding-l: 20px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--font-light);
  font-size: var(--font-s);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-reg);
}

h2 {
  font-size: var(--font-l);
  font-weight: var(--font-reg);
}

h3 {
  font-size: var(--font-m);
  font-weight: var(--font-reg);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--color-visited);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--color-active);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--dark-gray);
  text-decoration: none;
  padding: var(--padding-s);
  border-radius: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
}

.social-media img {
  width: 30px;
}

.profile {
  max-width: 700px;
  padding: var(--padding-l);
  margin: 0 auto;
}

.about {
  width: 100%;
  margin: 0 auto;
  padding: var(--padding-l);
  text-align: center;
}

.about-list {
  list-style-type: none;
  padding: 0;
}

.contact {
  max-width: 700px;
  padding: var(--padding-l);
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: var(--padding-l);
}

.work {
  width: 100%;
  padding: var(--padding-l);
}

.experience {
  width: 100%;
  padding: var(--padding-l);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__logo {
  width: 100%;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
}

.grid__item {
  background-color: lightgray;
  width: auto;
  min-height: auto;
  margin: 0;
  padding: var(--padding-l);
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@keyframes color-change {
  0% {
    fill: var(--sun-state1);
  }

  50% {
    fill: var(--sun-state2);
  }

  100% {
    fill: var(--sun-state3);
  }
}

.berlin-illustration {
  max-width: 750px;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
